<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
			<h3 class="text-center">
				The VisitMeet Team
			</h3>
		</div>
		<div class="col-md-8">
			<dl>
				<dt>
					CEO
				</dt>
				<dd>
					~ Bishisht Bhatta
				</dd>
				<dt>
					Programmers
				</dt>
				<dd>
					<a href="https://github.com/VisitMeet/visitmeet">Our Code Repository</a>
				</dd>
				<dd>
					Bloggers
				</dd>
				<dt>
					~ Sarah Romero
				</dt>
				<dd>
					Sponsors
				</dd>
				<dt>
					<a href="https://www.goodworksonearth.net">Good Works On Earth, a 501(c)3, charitable and educational organization</a>
				</dt>
				<dt>
				    Your name here
				</dt>
				<dd>
					We invite you to join the Team. Help create the site that care built
				</dd>
			</dl>
		</div>
	</div>
</div>
