	<div class="row">
		<div class="col-md-12">
			<h1 class="lead text-center well"><%= current_user.email.capitalize  %> 's Profile</h2>
				<div class="row">
					<div class="col-md-5">
						<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
						<h3 class="text-center">
							Full Name: <br>
							<%= best_in_place @user, :name %>
						</h3>
						</div>
						<div class="col-md-7">
							<div class="jumbotron well">
								<h4>Bio:</h4>
								<p>
									<%= best_in_place @user, :bio, :as => :textarea %>
								</p>
							</div>

						</div>
					</div>
				</div>
</div>
