<div class="row">

  <div class="col-md-3">

  <h4>Billing</h4>
    <ul>
      <li>Billing Methods</li>
    </ul>
  <h4>User Settings</h4>
    <ul>
      <li>Contact Info</li>
      <li>Tax Information </li>
      <li>My Profile</li>
      <li>Profile Settings</li>
      <li>Get Paid</li>
      <li>My References</li>
      <li>Change Password</li>
      <li>Change Security Question</li>
      <li>Notification Settings</li>
    </ul>

  </div>


  <div class="col-md-9">
    <p>
    This place should be updated as per the link selection from the left side.
    </p>
  </div>

</div>
