/* validator : https://jigsaw.w3.org/css-validator/#validate_by_input */
/* import the CSS framework */
/* ref: https://rubyplus.com/articles/1371 */
/* ref: http://guides.rubyonrails.org/asset_pipeline.html */
/* bootstrap-sprockets must be imported before bootstrap for the icon fonts to work */
@import "bootstrap-sprockets";
@import "bootstrap";

/* make all images responsive by default
img {
   @extend .img-responsive;
   margin: 0 auto;
}
*/
/* override for the 'Home' navigation link */
.navbar-brand {
  font-size: inherit;
}
/* THESE ARE EXAMPLES YOU CAN MODIFY
create your own classes
o make views framework-neutral
.column {
   @extend .col-md-6;
   @extend .text-center;
}
*/
/* .form {
   @extend .col-md-6;
}
*/
/* .form-centered {
   @extend .col-md-6;
   @extend .text-center;
}
*/
/* .submit {
   @extend .btn;
   @extend .btn-primary;
   @extend .btn-lg;
}
*/
/* apply styles to HTML elements
to make views framework-neutral
main {
   @extend .container;
   background-color: #eee;
   padding-bottom: 80px;
   width: 100%;
   margin-top: 51px; // accommodate the navbar
} */
/* section {
   @extend .row;
   margin-top: 20px;
} */
/* Styles for form views
using Bootstrap
generated by the rails_layout gem */
.authform {
   padding-top: 30px;
   max-width: 320px;
   margin: 0 auto;
}
/* .authform form {
   @extend .well;
   @extend .well-lg;
   padding-bottom: 40px;
} */
.authform .right {
  float: right !important;
}
/* .authform .button {
 @extend .btn;
 @extend .btn-primary;
} */
/* .authform fieldset {
   @extend .well;
}
*/
/* #error_explanation:not(:empty) {
   @extend .alert;
   @extend .alert-danger;
} */
#error_explanation h2 {
  font-size: 16px;
}
/* .button-xs {
   @extend .btn;
   @extend .btn-primary;
   @extend .btn-xs;
} */
.toplinks {
  margin-left: 14px;
}
.hometext {
  font-family: Arial;
}
.github {
  font-size: 0.9em;
  text-align: center;
}
.artshowcase {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.information {
  border-left: 2px solid green;
}
#awareness_large {
  border: 2px solid blue;
}
#awareness_small {
  border: 4px solid blue;
}
.author {
  font-style: italic;
  font-size: 1em;
}
.quote {
  font-weight: bold;
  font-size: 1em;
}
#twowhales {
  border: 1px blue solid;
}
