<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p> 
<p>If you haven't changed this, please notify us asap.</p>


<%= render 'footer.html.erb' %>