<div id="awareness">
  <p>
    This is the AWARENESS Star Art.
    <br>
  </p>
<form>
<script
  src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
  data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
  data-amount="1900"
  data-name="Purchase AWARENESS Star Art"
  data-description="Purchase AWARENESS ($19.00)"
  data-image="../../app/assets/images/square-awareness.jpg">
</script>
</form>
  <div id="awareness_small">
    <div id="awareness_large">
      <%= image_tag("awareness.jpg", size: "1122x419", alt: "AWARENESS Star Art") %>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
