<!-- Footer -->
<div class="container">
  <hr>
  <footer>
      <div class="row">
          <div class="col-lg-12">
              <p class="text-center">Copyright &copy; VisitMeet 2016</p>
              <p>
                This application is released under Public Alpha Version.
                Company is subjected to make any changes without prior notice.
                We can delete your data at any time.
                You are encouraged to provide feedback to us at any time. <br>
                <br>
                <a href="http://www.github.com/bishisht/visitmeet">Our Github Repo</a>
              </p>
          </div>
      </div>
  </footer>
</div>

<div class="github">
  <br> Are you not a programmer yet wonder what the codes look like ??
  <br> Codes shown in this Repository are the codes creating this site
  <br>
  <a class="btn btn-primary btn-medium" href="http://www.github.com/bishisht/visitmeet" role="button">
    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
    Our Open Source Code Repository at Github
  </a>
  <br> Programmers are invited to help build our sites and so enjoy the benefits
  <br> Currently building out two sites; VisitMeet.com is riding on Ruby on Rails' Edges
  <br> VisitMeet.org's tools of creation are Node.js, Yeoman, Gulp and their friends
  <br> Follow our Repository, watch our progress, contribute as you can see to do
  <br> Thank You
  <br>
  <br>
  <br>
</div>
<!-- /.container -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73112429-1', 'visitmeet.herokuapp.com');
  ga('send', 'pageview');

</script>
