/ navigation styled for Bootstrap 3.0
nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-collapse"]
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to 'Home', root_path, class: 'navbar-brand'

    - if user_signed_in?
       li
        = link_to 'Edit account', edit_user_registration_path
       li
        = link_to 'Sign out', destroy_user_session_path, :method=>'delete'

    - else
       li
        = link_to 'Sign in', new_user_session_path
       li
        = link_to 'Sign up', new_user_registration_path

    .collapse.navbar-collapse
      ul.nav.navbar-nav
        == render 'layouts/navigation_links'
